/* 디폴트값 */
*{
    padding:0;
    margin:0;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*border:1px solid black;*/
}

/* 바디 */
body{
    margin:0 20%;
    background-color: white;
    color:black;
}

/* 헤더 */
header img{
    height:70px;
}

/* 네비게이션 바 */
.navbar{
    background-color:#EAEAEA;
    border-radius:7px;
    margin:15px auto;
    width:400px;
    text-align: center;
    
}

.navbar li{
    margin: 3px 20px;
    list-style-type: none;
    display:inline-block;
    align-items: center;
}

.navbar li a{
    text-decoration:none;
    color:black;
    font-size:1.5em;
}

.navbar li a:hover{
    text-decoration:underline;
    text-decoration-thickness: 3px;
}


/* 인트로 */
.intro{
    margin-top:50px;
}

.intro div{
    margin:60px 0;
    text-align: center;
}
.intro h3{
    margin:20px;
    text-align: center;
    font-size: 50px;
}

.intro img{
    display:inline-block;
    width:150px;
    height:150px;
    border-radius:100px;
}

.intro p{
    margin-left:30px;
    text-align: left;
    display:inline-block;
    font-size:30px;
}


/* 작품 전시 section */
.paint_explain{
    margin-top:30px;
}

section p{
    margin-top:20px;
    text-align: center;
    font-size:20px;
}

section h3{
    margin-top:60px;
    text-align:center;
    font-size:50px;
}

.paint1{

    text-align:center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.arrow{
    margin:100px 0;
    height:100px;
}

.size_big{
    border:7px solid #F2CB61;
    height:250px;
}

.size_same{
    border:7px solid #F2CB61;
    margin:0;
    height:300px;
}

.alone{
    margin:0 50px;
    display:inline-block;
    border:7px solid #F2CB61;
    height:300px;
}

section p{
    text-align: center;
}

/* 나의 꿈*/

.my_dream{
    margin:60px 0;
}
.my_dream p{
    margin:30px 30px;
    text-align: left;
}

footer div {
    height:150px;
    background-color:#eeeeee;
    text-align: center;
    overflow:hidden;
}

footer p{
    margin-top:50px;
    margin-bottom:50px;
}
